:root {
    --tab-color: #DCDCDF;

    --content-even-color: #FFFFFF;
    --content-odd-color: #F5F5F5;
    --content-hover-color: #DFDFDF;

    --content-in-progress-content: '';
    --content-in-progress-color: orange;
    --content-success-content: '✓';
    --content-success-color: green;
    --content-failure-content: '⨯';
    --content-failure-color: red;
    --content-unknown-content: '?';
    --content-unknown-color: gray;

    font-family: sans-serif;
    font-size: 90%;
}

table {
    border-collapse: collapse;
}

.title {
    margin-left: 20px;
}

.tabs {
    width: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.tabs .active {
    padding: 2px 0.7em;
    background-color: var(--tab-color);
}

.tabs tbody td {
    padding: 2px 0.7em;
    padding-bottom: 0;
    border-bottom-style: solid;
    border-color: var(--tab-color);
}

.tabs tbody td:first-child {
    padding-left: 20px;
}

.tabs tbody td:not(:last-child) {
    width: 1px;
}

.content {
    margin: 20px;
    width: 100%;
}


.content thead {
    text-align: left;
}


.content tbody tr:nth-child(even) {
    background-color: var(--content-even-color);
}

.content tbody tr:nth-child(odd) {
    background-color: var(--content-odd-color);
}

.content tbody tr:hover {
    background-color: var(--content-hover-color);
}

.content a:hover {
    color: blue;
}


.in-progress {
    color: var(--content-in-progress-color);
}

.in-progress::after {
    padding-left: 5px;
    content: var(--content-in-progress-content);
}

.success {
    color: var(--content-success-color);
}

.success:after {
    padding-left: 5px;
    content: var(--content-success-content);
}

.failure {
    color: var(--content-failure-color);
}

.failure:after {
    padding-left: 5px;
    content: var(--content-failure-content);
}

.unknown {
    color: var(--content-unknown-color);
}

.unknown:after {
    padding-left: 5px;
    content: var(--content-unknown-content);
}

.align-right {
    text-align: right;
}

.build-info {
    margin: 20px;
}

.build-info tr td:first-child {
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
}

.build-info *:link,
.build-info *:visited,
.build-info *:link:hover {
    color: blue;
}

a:link,
a:visited
{
    color: inherit;
    text-decoration: inherit;
}

a:link:hover {
    text-decoration: underline;
}

.log {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid;
    background-color: black;
    color: white;
    max-width: 650px;
    overflow: scroll;
}

